<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.germannudes.rocketsdb" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Rocketsdb</name>
    <description>
        Aplicativo para compartilhamento de mídias
    </description>
    <author email="germanobnetto@gmail.com" href="http://www.germannudes.com.br">
        German Nudes Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
